<!-- menu -->
<div class="menu">
  <ul class="menu-list">
    <li class="menu-item"><%= link_to("top", top_path, {class: "menu-item_link"}) %></li>
    <li class="menu-item"><%= link_to("about", about_path, {class: "menu-item_link"}) %></li>
    <li class="menu-item"><%= link_to("posts", posts_path, {class: "menu-item_link"}) %></li>
    <li class="menu-item"><%= link_to("送信フォーム", new_post_path, {class: "menu-item_link"}) %></li>
    <li class="menu-item"><%= link_to("TODOリスト", todo_path, {class: "menu-item_link"}) %></li>
  </ul>
</div><!-- /menu -->

